<div id="footer">
    <ul style="display: flex; justify-content: space-around;">
      <li><a href="{% url 'contact' %}">Contact Us</a></li>
      <li><a href="{% url 'employment_portal' %}">Employment Portal</a></li>
      <li><a href="{% url 'site_policy' %}">Terms and Conditions</a></li>
      <li><a href="{% url 'arbitration' %}">Arbitration</a></li>
      <li><a href="{% url 'financial_FAQs' %}">Financial FAQS</a></li>
      <li><a href="{% url 'sitemap' %}">Sitemap</a></li>
    </ul>
  </div>
  