{% extends "users/base.html" %}

{% block title %}Purchase History{% endblock %}

{% block content %}
    <div class="public-pitch-card">
        <h1>Public Pitches!</h1>
        <p>The public pitches section of our website is truly revolutionary. It provides a platform for users to share their ideas with the community, and receive valuable feedback and support. This feature is perfect for those who are looking to be more of a catalyst for change, rather than a mentor. </p>
        <p>By pitching their ideas to the public, users can gather valuable insights and collaborate with like-minded individuals to bring their ideas to life. Whether you are a seasoned entrepreneur or a budding innovator, the public pitches section is sure to inspire and empower you to make a difference in the world.</p>
    </div>
{% endblock %}
