{% extends 'users/base.html' %}
{% load static %}

{% block content %}
    <div class="everything-card">
        <h1>Site Policy</h1>

        <h2>Purpose</h2>
        <p>The purpose of this policy is to outline the terms and conditions for using our website and the services we provide. By accessing and using our site, you agree to be bound by the terms and conditions outlined in this policy.</p>

        <h2>Content</h2>
        <p>All content on our site, including text, images, and other media, is the property of PitchYourPlug or its licensors and is protected by copyright laws. You may not use any content on our site for commercial purposes without obtaining a license to do so. You may not modify, copy, distribute, transmit, display, publish, sell, license, or create derivative works from any content on our site without prior written permission from us or the respective copyright owner.</p>

        <h2>User Conduct</h2>
        <p>You agree to use our site and services only for lawful purposes and in a manner that does not infringe on the rights of, or restrict or inhibit the use and enjoyment of our site by, any other person. Prohibited conduct includes, but is not limited to, using our site to transmit or post any content that is defamatory, harassing, threatening, obscene, or unlawful, or that infringes on the intellectual property rights of any person.</p>

        <h2>Liability</h2>
        <p>We will not be liable for any damages or losses resulting from your use of our site or services. This includes, but is not limited to, any direct, indirect, incidental, consequential, or punitive damages. We also will not be liable for any damages or losses resulting from any unauthorized access to or alteration of your transmissions or data, or any other matter related to our site or services.</p>

        <h2>Modification of Terms</h2>
        <p>We reserve the right to modify the terms and conditions of this policy at any time. Any modifications will be effective immediately upon posting to our site. Your continued use of our site after any modifications have been made will constitute your acceptance of the modified terms and conditions.</p>
    </div>
{% endblock %}